SQUARE_ACCESS_TOKEN=
SQUARE_LOCATION_ID=
SQUARE_ENVIRONMENT=production
SQUARE_REDIRECT_URL=https://garmin-ai-export.vercel.app?paid=true
VITE_SQUARE_APP_ID=
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-F3C99MVMDY
